hr {
    border-style: dotted none none none ;
    width: 10%;
    border-color: grey;
    border-width: 10px;
}

body{
    background-color: #eaf4f5;
}

h1{
    color: #5cb6b7
}
h3{
    color:#5cb6b7;
}